[Unit]
Description=Eidetic Player graphical appliance session
Requires=eidetic-labwc.service eidetic-player.service
After=eidetic-labwc.service
Wants=pipewire.socket wireplumber.service
AllowIsolate=yes

[Install]
WantedBy=default.target
